# Shipped: out/extension.js (bundled), grammar, snippets, icons, README, LICENSE.
.vscode/**
.vscode-test/**
.gitignore
src/**
node_modules/**
dist/**
esbuild.js
package-lock.json
**/*.map
**/*.ts
**/tsconfig.json
icons/README.md
